{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    {% for messages in app.flashes('success') %}
        <div class="alert alert-success">
            {{ messages }}
        </div>
    {% endfor %}
    <a href="{{ path('app_login') }}">Go back to login page</a>
    <h1>Password Recovery</h1>
    <form action="/newPassword/{{ token }}" method="post">
        New Password:<input type="password" name="hola" minlength="6">
        <button type="submit">Submit</button>
    </form>
{% endblock %}