{% extends 'base.html.twig' %}
{% block body %}

    With the link below you can recover password for konneck.
    <a href="http://127.0.0.1:8000/changePassword/{{ confirmationToken }}">Click here link to recover password</a>

{% endblock %}